WebServices/TSGAMT2010/TSGAMT2010/Connected Services/PS/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7060/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TSGALibrary" />
  <xs:element name="SubscribeToResultChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="triggersolution" type="xs:int" />
        <xs:element minOccurs="0" name="pathId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeToResultChangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubscribeToResultChangeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeToResultChange">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeToResultChangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnSubscribeToResultChangeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnBestPathChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TSGALibrary" minOccurs="0" name="tinfo" nillable="true" type="q1:TSGAInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bestPath" type="xs:int" />
        <xs:element minOccurs="0" name="pathId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePathResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>