WebServices/TSGAMT2010/TSGAMT2010/Connected Services/PS/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TSGALibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TSGALibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TSGAInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BestPath" type="xs:int" />
      <xs:element minOccurs="0" name="PathId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TSGAInfo" nillable="true" type="tns:TSGAInfo" />
</xs:schema>